.backimage{
    position: absolute;
    width: 100%;
    height: 100%;
}
.upperdiv{
    // filter: blur(8px);
    position: absolute;
    width: 100%;
    height: 100%;
    overflow:auto;
    top:0px;
}
.lowerdiv{
    width: 100%;
    height: 100%;
    
}
.menu{
    position: relative;
    width: 100%;
    height: 8%;
    // border: 2px solid black;
}
.backbutton{
    width: 10%;
    height: 100%;
    margin-top: 4%;
    margin-left: 4%;
}
.namediv{
    position: relative;
    width: 100%;
    height: 10%;
    // border: 2px solid red;
}
.nameh1{
    margin-left: 4%;
    font-size: 30px;
}
.inputbox1{
    position: relative;
    width: 80%;
    height: 68px;
    border: 3px solid white;
    border-radius: 30px;
    background-color: black;
    margin-left:10% ;
    margin-top:0% ;
    // color: white;
    padding-left: 7%;
}
.ion_input{
    width: 90%;
    height: 100%;
    // border: 2px solid red;
    padding-left: 5%;
    color: white;

}


.inputbox2{
    position: relative;
    width: 80%;
    height: 68px;
    border: 3px solid white;
    border-radius: 30px;
    background-color: black;
    margin-left:10% ;
    margin-top:8% ;
    // color: white;
    padding-left: 7%;

}

::placeholder{
    color: white;
  }
  
.button1{
    position: relative;
    background-color:#3D9BD6;
    border-radius: 30px;
    width: 80%;
    height: 68px;
    margin-left:10% ;
    margin-top:13% ;
    font-size: 20px;
}
.btn-valid {
    background-color: #3D9BD6;
    color: white;
  }
  
.btn-invalid {
    background-color: #93c3e0;
    color: white;
  }

.popup{
    display: block;
    width: 80%;
    height: 40%;
    position: absolute;
    background-color:white ;
    left: 10%;
    top:30%;
    z-index: 999;
    border-radius: 10%;
}





.popiocndiv{
    width: 60%;
    height: 60%;
    // border: 2px solid red;
    margin-left: 20%;
}
.icon-custom {
    position: relative;
    width: 100%;
    height: 100%;
    color: red;
    animation-name: example;
    animation:example 4s forwards;
}

@keyframes example {
    from {color:rgb(0, 144, 201);}
    to {color: green;}
  }

  @keyframes opacity {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



.icon-custom-wrong {
    position: relative;
    width: 100%;
    height: 100%;
    color: red;
    animation-name: example;
    animation:wrong 4s forwards;
}
@keyframes wrong {
    0%{
        opacity: 1;
    }
    10%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    30%{
        opacity: 0;
    }
    40%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    60%{
        opacity: 1;
    }
    70%{
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
  }
.popcontent-wrong{
    width: 80%;
    height: 45%;
    margin-left: 10%;

}

.popcontent{
    width: 80%;
    height: 45%;
    margin-left: 10%;
    animation:opacity 4s forwards;


}
.poph1{
    text-align: center;
    font-size:40px;
    margin-top: 0%;
}
.popp{
    font-size: 20px; 
    text-align: center;
}



.unthouch{
    position: absolute;
    top:0%;
    width: 100%;
    height: 100%;
    background:transparent ;
    z-index: 800;
}
.errormsg{
    color: red;
    font-size: 20px;
    position: relative;
    text-align: center;
    margin-top: 4%;
    width: 80%;
    margin-left: 10%;
}