<div class="unthouch" [style.display]="hinddiv"></div>
<div class="upperdiv" [style.filter]="blur ? 'blur(5px)' : 'none'">
  <img alt="back photo" [src]=backphoto class="backimage" [style.height]="divHeight">
  <div class="lowerdiv"  [style.height]="divHeight">
    <div class="menu">
      <ion-icon (click)="backbutton()" name="arrow-back-outline" class="backbutton"></ion-icon>
    </div>
    <div class="namediv">
      <p class="nameh1">
        <strong>Add Renter</strong>
      </p>

    </div>
    <form class="example-form" #myForm="ngForm" (ngSubmit)="submitForm()">
      <div class="inputbox1">
        <ion-input name="renter_name" type="text" [(ngModel)]="formData.renter_name" required placeholder="Enter Name" class="ion_input" > </ion-input>
      </div>

      <div class="inputbox2">
        <ion-input name="renter_mobile_no" [(ngModel)]="formData.renter_mobile_no" type="number"   required placeholder="Enter Mobile No" class="ion_input" ></ion-input><br>
      </div>

      <div class="inputbox2" >
        <ion-select class="dropbutton" placeholder="Select Id Type" name="id_type" [(ngModel)]="formData.id_type">
          <ion-select-option value="pancard">PAN card</ion-select-option>
          <ion-select-option value="adharcard">Aadhaar card</ion-select-option>
          <ion-select-option value="voterid">voter ID card</ion-select-option>
        </ion-select>
      </div>

      <div class="inputbox2">
        <ion-input (change)="onFileSelected($event)" type="file" class="ion_input" name="id_img" ></ion-input>
      </div>

      

      <button ion-button expand="block" type="submit" [disabled]="!myForm.form.valid" class="button1">Submite</button>
      </form>
  </div>
  
</div>







<div class="popup" [style.display]="popdiplay">
<div class="popiocndiv" >
    <ion-icon class="icon-custom" name="checkmark-done"></ion-icon>

</div>
  <div class="popcontent">
    <h1 class="poph1" >
      <strong>Submission Successful</strong>
    </h1>
    <!-- <p class="popp">Renter successfully submitted.</p> -->
  </div>
</div>
<!-- [style.display]="popdiplay" 
 <mat-icon>check_circle</mat-icon>-->