<div class="upperdiv" >
  <img alt="back photo" [src]=backphoto class="backimage" >
  <div class="menu">
    <ion-icon name="arrow-back-outline" class="backbutton"></ion-icon>
  </div>
  <div class="carddiv">
    <img alt="crad pic" [src]=card_pic class="cardimg" >

    <div class="infodiv">
      <p>NAME:- <strong>{{name}}</strong> </p>
      <p>DOB:- <strong>{{b_date}}</strong> </p>
      <p>NO OF FLAT'S:- <strong>15</strong> </p>
      <p>M NO:- <strong>{{mobile_no}}</strong> </p>
    </div>
    <div class="profilediv">
      <img alt="Profile pic" [src]=dp class="profilepic" >

    </div>
  </div>
  <div class="optiondiv">
    <div class="option">
      <img alt="Profile pic" [src]=all_flats class="optionpics" >
    </div>
    <div class="option fordiffcolor">
      <img alt="Profile pic" [src]=manage class="optionpics" >

    </div>
    <div class="option fordiffcolor">
      <img alt="Profile pic" [src]=rent class="optionpics" >

    </div>
    <div class="option">
      <img alt="Profile pic" [src]=remain class="optionpics" >

    </div>
    <div class="option">
      <img alt="Profile pic" [src]=add_renter class="optionpics" >

    </div>
    <div class="option fordiffcolor">
      <img alt="Profile pic" [src]=add_home class="optionpics" >

    </div>
  </div>
</div>