
<div class="upperdiv" [style.filter]="blur ? 'blur(5px)' : 'none'">
  <img alt="back photo" [src]=backphoto class="backimage" >
  <div class="menu">
    <ion-icon (click)="backbutton()" name="arrow-back-outline" class="backbutton"></ion-icon>
  </div>
  <div class="addressdiv">
    <p class="headertext">
      <strong>
        Flat Information
      </strong>
    </p>
    <p class="addressinfo">
      Owner Name :- vinit patil
    </p>
    <p class="addressinfo">
      Address :- {{area}}
    </p>
    <p class="addressinfo">
      Flat No :- {{flat_no}}
    </p>
    <p class="addressinfo">
      Rent :- {{Rent}}
    </p>
    <p class="addressinfo" *ngIf="is_on_rent; else elseBlock">
      Available: Yes
    </p>
    <ng-template #elseBlock>
      <p class="addressinfo">
        Available: No
      </p>
    </ng-template>
  <div class="line"></div>
  </div>
  <div class="renterdiv" *ngIf="is_on_rent; else elsediv">
    <P class="addressinfo">
      Renter :- {{renter_name}}
    </P>
    <P class="addressinfo">
      Mobile No :- {{renter_mobile_no}}
    </P>
    <P class="addressinfo" (click)="showPopup()" >
      Id Proof :- <span style="color: blue;">{{id_type}}</span>
    </P>
    <P class="addressinfo">
      Start Date :- 1 mar 2024
    </P>
  </div>
  <ng-template #elsediv>
    <div class="renterdiv">
      <p class="notrenter">
        {{on_renter_error}}
      </p>
    </div>
  </ng-template>


</div>
<div class="popupdiv" [style.display]="popdiplay">
  <div class="closebutton">
    <ion-icon name="close" class="closeicon" (click)="closepopup()"></ion-icon>
  </div>
  <img [src]=id_img alt="id card" class="popupimg">
</div>