
<div class="upperdiv" >
  <img alt="back photo" [src]=backphoto class="backimage" >
  <div class="menu">
    <ion-icon (click)="backbutton()" name="arrow-back-outline" class="backbutton"></ion-icon>
  </div>
  <div class="addressdiv">
    <p class="headertext">
      <strong>
        Flat Information
      </strong>
    </p>
    <p class="addressinfo">
      Owner Name :- vinit patil
    </p>
    <p class="addressinfo">
      Address :- {{address[0].Area}}
    </p>
    <p class="addressinfo">
      Flat No :- {{address[0].Floor}}/{{address[0].Flat_no}}
    </p>
    <p class="addressinfo">
      Rent :- {{address[0].Rent}}
    </p>
    <p class="addressinfo" *ngIf="address[0].is_on_rent; else elseBlock">
      Available: Yes
    </p>
    <ng-template #elseBlock>
      <p class="addressinfo">
        Available: No
      </p>
    </ng-template>
  <div class="line"></div>
  </div>
  <div class="renterdiv" *ngIf="address[0].is_on_rent; else elsediv">
    <P class="addressinfo">
      Renter :- {{renter.renter_name}}
    </P>
    <P class="addressinfo">
      Mobile No :- {{renter.renter_mobile_no}}
    </P>
    <P class="addressinfo">
      Id Proof :- {{renter.id_type}}
    </P>
    <P class="addressinfo">
      Start Date :- 1 mar 2024
    </P>
  </div>
  <ng-template #elsediv>
    <div class="renterdiv">
      <p class="notrenter">
        {{on_renter_error}}
      </p>
    </div>
  </ng-template>
  <!-- <div class="renterdiv">
    <P class="addressinfo">
      Renter :- nilesh ramesh mhatre
    </P>
    <P class="addressinfo">
      Mobile No :- 9967542791
    </P>
    <P class="addressinfo">
      Id Proof :- pan
    </P>
    <P class="addressinfo">
      Start Date :- 1 mar 2024
    </P>
  </div> -->
</div>