
<div class="upperdiv" [style.filter]="blur ? 'blur(5px)' : 'none'">
  <img alt="back photo" [src]=backphoto class="backimage" [style.height]="divHeight">
  <div class="lowerdiv"  [style.height]="divHeight">
    <div class="menu">
      <ion-icon (click)="backbutton()" name="arrow-back-outline" class="backbutton"></ion-icon>
    </div>
    <div class="namediv">
      <p class="nameh1">
        <strong>Manage Lease</strong>
      </p>

    </div>
    <div class="swhitchdiv">
      <div class="addbutton" (click)="add()" [style.background-color]="addbackcolor">
         <p class="addremaovetext">Add</p>
      </div>
      <div class="removebutton" (click)="remove()" [style.background-color]="removebackcolor">
        <p class="addremaovetext">Remove</p>
      </div>
    </div>






    <div class="fromdiv" [style.display]="adddispaly" >
       <p class="formtext">Add Lease</p>
       <form class="example-form" #myForm="ngForm" (ngSubmit)="addFrom()">
      
      <div class="inputbox2" >
        <ion-select class="dropbutton" placeholder="Select Renter" name="renter_id" [(ngModel)]="addfromdata.renter_id" >
          <ion-select-option [value]="renter.id" *ngFor="let renter of renterdata;let i = index">
            {{renter.renter_name}}
          </ion-select-option>
         
        </ion-select>
      </div>

      <div class="inputbox2" >
        <ion-select class="dropbutton" placeholder="Select Address" name="address_id" [(ngModel)]="addfromdata.address_id">
          <ion-select-option [value]="item.id" *ngFor="let item of addressdata;let i = index">
            {{addressdata[i]["Area"]}}
            building-{{addressdata[i]["Building_name"]}}
            floor/flat-{{addressdata[i]["Floor"]}}/{{addressdata[i]["Flat_no"]}}
          </ion-select-option>
         
        </ion-select>
      </div>

      <div class="inputbox2">
        <ion-input name="start_date" [(ngModel)]="addfromdata.start_date" type="date"  required placeholder="Select a date" class="ion_input"></ion-input><br>
      </div>

      <div class="inputbox2">
        <ion-input name="rent" [(ngModel)]="addfromdata.rent" type="number"  required placeholder="Rent" class="ion_input" ></ion-input><br>
      </div>

      <div class="inputbox2">
        <ion-input name="deposit" [(ngModel)]="addfromdata.deposit" type="number"  required placeholder="deposit" class="ion_input" ></ion-input><br>
      </div>

     <button ion-button expand="block" type="submit" [disabled]="!myForm.form.valid" class="button1">Login</button>
      </form>

    </div>








    <div class="fromdiv" [style.display]="removedisplay" style="display: none;">
      <p class="formtext">Remove Rent</p>
      <form class="example-form" #myForm="ngForm" (ngSubmit)="removeFrom()">
     
     <div class="inputbox2" >
       <ion-select class="dropbutton" placeholder="Select Id Type" name="renter_name" [(ngModel)]="removefromdata.renter_name">
         <ion-select-option value="pancard">vinit patil</ion-select-option>
         <ion-select-option value="adharcard">ramesh patil</ion-select-option>
         <ion-select-option value="voterid">lakhan tare</ion-select-option>
       </ion-select>
     </div>

     <div class="inputbox2" >
       <ion-select class="dropbutton" placeholder="Select Id Type" name="address" [(ngModel)]="removefromdata.address">
         <ion-select-option value="pancard">
           at-kasheli koliwada
           building-raka ali
           floor/flat-2/250
         </ion-select-option>
         <ion-select-option value="adharcard">
           at-kasheli koliwada
           building-raka ali
           floor/flat-2/250
         </ion-select-option>
         <ion-select-option value="voterid">
           at-kasheli koliwada
           building-raka ali
           floor/flat-2/250
         </ion-select-option>
       </ion-select>
     </div>

     <div class="inputbox2">
       <ion-input name="end_date" [(ngModel)]="removefromdata.end_date" type="date"  required placeholder="Select a date" class="ion_input"></ion-input><br>
     </div>

    <button ion-button expand="block" type="submit" [disabled]="!myForm.form.valid" class="button1">Login</button>
     </form>

   </div>
    <!-- <form class="example-form" #myForm="ngForm" (ngSubmit)="submitForm()">
      <div class="inputbox1">
        <ion-input name="renter_name" type="text" [(ngModel)]="formData.renter_name" required placeholder="Enter Name" class="ion_input" > </ion-input>
      </div>

      <div class="inputbox2">
        <ion-input name="renter_mobile_no" [(ngModel)]="formData.renter_mobile_no" type="number"   required placeholder="Enter Mobile No" class="ion_input" ></ion-input><br>
      </div>

      <div class="inputbox2" >
        <ion-select class="dropbutton" placeholder="Select Id Type" name="id_type" [(ngModel)]="formData.id_type">
          <ion-select-option value="pancard">PAN card</ion-select-option>
          <ion-select-option value="adharcard">Aadhaar card</ion-select-option>
          <ion-select-option value="voterid">voter ID card</ion-select-option>
        </ion-select>
      </div>

      <div class="inputbox2">
        <ion-input type="file" class="ion_input" name="id_img" [(ngModel)]="formData.id_img"></ion-input>
      </div>

      

      <button ion-button expand="block" type="submit" [disabled]="!myForm.form.valid" class="button1">Login</button>
      </form> -->
  </div>
  
</div>









<div class="popup" [style.display]="popdiplay">
<div class="popiocndiv" >
    <ion-icon class="icon-custom" name="checkmark-done"></ion-icon>\

</div>
  <div class="popcontent">
    <h1 class="poph1" >
      <strong>Completed</strong>
    </h1>
    <p class="popp">Renter successfully submitted.</p>
  </div>
</div>
<!-- [style.display]="popdiplay" 
 <mat-icon>check_circle</mat-icon>-->