<!-- to make blur full height -->
<div class="unthouch" [style.display]="hinddiv"></div>


<!-- main page -->
<div class="upperdiv" [style.filter]="blur ? 'blur(5px)' : 'none'">
 
 
  <img alt="back photo" [src]=backphoto class="backimage" [style.height]="divHeight">
 
 
  <div class="lowerdiv"  [style.height]="divHeight">
    
    <div class="menu">
      <ion-icon (click)="backbutton()" name="arrow-back-outline" class="backbutton"></ion-icon>
    </div>
    
    <!-- remain renter info -->
    <div class="namediv" [style.height]="heightofinfo" (click)="resizeheights(2)">
      <div style="height: 100%;overflow:visible;border: 2px solid white;">
      <p class="nameh1">
        <strong>Remain History</strong>
      </p>
    
      <p class="addressinfo" [style.display]="otherdisplay">
        <strong>Renter Name :-</strong> {{renter_name}}
      </p>
    
      <p class="addressinfo" [style.display]="otherdisplay">
        <strong> Address :-</strong> {{address}}    
      </p>
    
      <p class="addressinfo" [style.display]="otherdisplay">
        <strong>Building :-</strong> {{building}}      
      </p>
    
      <p class="addressinfo" [style.display]="otherdisplay">
        <strong>Flat -</strong> {{flat}}     
      </p>
    
      <p class="addressinfo" style="color: red;" [style.display]="otherdisplay">
        <strong>Remain :-</strong> {{total_remain}}
      </p>
    
      <p class="addressinfo" [style.display]="otherdisplay">
        <strong>deposit :-</strong> {{deposit}}
      </p>
     </div>
    </div>


    <!-- list of click to pay -->
    <div class="listmiandiv" [style.height]="heightofremain" (click)="resizeheights(1)" [style.display]="display1">
      <ion-grid class="tablegrid">
     
        <ion-row class="tablehead">
         
          <ion-col size="4"><strong>For Month</strong></ion-col>
          
          <ion-col size="4"><strong>Paid</strong></ion-col>
          
          <ion-col size="4"><strong>Remain</strong></ion-col>

        </ion-row>

        <ion-row *ngFor="let item of remain_data;let i = index">
          
          <ion-col size="4">{{remain_data[i]['for_month']}}</ion-col>
         
          <ion-col size="4">
            <div *ngIf="remain_data[i]['paid'] == 0; else elseBlock" >
              Not Paid
            </div>
            <ng-template #elseBlock>
              &#x20B9;  {{remain_data[i]['paid']}}
            </ng-template>
          </ion-col>
          
          <ion-col size="4">&#x20B9; {{remain_data[i]['remain']}}</ion-col>
        
        </ion-row>

      </ion-grid>


      <p class="clickdiv">Click To Pay</p>


    </div>


    <!-- main list of remain pay -->
    <div class="listmiandiv" [style.height]="heightofremain" [style.display]="display2" >
     
      <ion-grid class="tablegrid">
       
        <ion-row class="tablehead">
        
          <ion-col size="4"><strong>For Month</strong></ion-col>
        
          <ion-col size="3"><strong>Paid</strong></ion-col>
         
          <ion-col size="3"><strong>Remain</strong></ion-col>
          
          <ion-col size=""><strong></strong></ion-col>

        </ion-row>

        <ion-row class="datarow" *ngFor="let item of remain_data;let i = index">
          
          <ion-col size="4"><p>{{remain_data[i]['for_month']}}</p></ion-col>
         
          <ion-col size="3">
            <div *ngIf="remain_data[i]['paid'] == 0; else elseBlock" >
              <p>Not Paid</p>
            </div>
            <ng-template #elseBlock>
              <p>&#x20B9;  {{remain_data[i]['paid']}}</p>
            </ng-template>
          </ion-col>
         
          <ion-col size="3"><p>&#x20B9; {{remain_data[i]['remain']}}</p></ion-col>
          
          <ion-col size="2">
            <div class="paybutton" (click)="formpopup(remain_data[i])"> 
              <p class="center-text" >
                <strong>pay</strong>
              <p>
            </div>
          </ion-col>
       
        </ion-row>
     
      </ion-grid>
     
     
      <p class="ortext"><strong>OR</strong></p>
     
     
      <div class="fullpaydiv">
      
        <p class="fullpaytext">
          <strong>
            Full Pay :-
          </strong>
           &#x20B9; 
          <span style="color: red;">
             {{remainpay}}
          </span>
        </p>
      
        <div class="paybuttonfull" (click)="fullformpopup()"> 
        
          <p class="center-text">
            <strong>pay</strong>
         
            <p>
        </div>

      </div>

    </div>

  </div>

</div>















<!-- single pay form popup -->
<div class="mainpayform" [style.display]="popdiplay" [style.filter]="blur1rent ? 'blur(5px)' : 'none'" >
  
  <div class="closebutton">
    <ion-icon name="close" class="closeicon" (click)="closepopup()"></ion-icon>
  </div>
  
  <!-- remain info -->
  <div class="payinfidiv">
    <p class="paytext"><strong>Remain Pay</strong></p>
    <div style="text-align: center;font-size: 20px;">
      <p><strong>Renter </strong><br>{{renter_name}}</p>
      <p><strong>Remain Rent </strong><br>{{remainonmonth}}</p>
      <p><strong>For Month </strong><br>{{for_month}}</p>
    </div>
  </div>

  <!-- single remain form -->
  <form class="example-form" #myForm="ngForm" (ngSubmit)="addremain()">
   
    <div class="inputbox1">
      <ion-input name="paid" [(ngModel)]="paydata.paid" type="number" required placeholder="Enter Rent Amount" class="ion_input" > </ion-input>
    </div>


    <div class="inputbox2">
      <ion-datetime-button class="dateinput" datetime="datetime1" presentation="date"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime1" presentation="date" (ionChange)="onDateChangesingle($event)"></ion-datetime>
        </ng-template>
      </ion-modal>
    </div>


    <div class="inputbox2">
      <ion-select class="dropbutton" label="Select Transaction " required name="transaction_mode" [(ngModel)]="paydata.transaction_mode" >
        <ion-select-option value="Cash" >
          Cash
        </ion-select-option>
      
        <ion-select-option value="Online" >
          Online
        </ion-select-option>
      
        <ion-select-option value="Cheque" >
          Cheque
        </ion-select-option>
      
        <ion-select-option value="Other" >
          Other
        </ion-select-option>
      
      </ion-select>

    </div>


    <button 
    ion-button expand="block" 
    type="submit" 
    [disabled]="!myForm.form.valid" 
    [ngClass]="{
      'btn-valid': myForm.form.valid,
      'btn-invalid': !myForm.form.valid
    }"
    class="button1">
      Submite
    </button>

  </form>
  
</div>
















<!-- full pay form popup -->
<div class="mainpayform" [style.display]="fullpopdiplay" [style.filter]="blur1rent ? 'blur(5px)' : 'none'" >
    
  
  <div class="closebutton">
    <ion-icon name="close" class="closeicon" (click)="fullclosepopup()"></ion-icon>
  </div>
  
  <div class="fullpayinfidiv">
    <p class="paytext"><strong>Remain Pay</strong></p>
  
    <div style="text-align: center;font-size: 20px;">
      <p><strong>Renter </strong><br>{{renter_name}}</p>  
    </div>
  
  </div>


  <!-- show list of month info in table -->
  <ion-grid class="fulltablegrid">

    <ion-row class="tablehead nocolur">
      <ion-col size="4"><strong>For Month</strong></ion-col>
      <ion-col size="4"><strong>Paid</strong></ion-col>
      <ion-col size="4"><strong>Remain</strong></ion-col>
    </ion-row>

    <ion-row *ngFor="let item of remain_data;let i = index">
      <ion-col size="4">{{remain_data[i]['for_month']}}</ion-col>
    
      <ion-col size="4">
        <div *ngIf="remain_data[i]['paid'] == 0; else elseBlock" >
          Not Paid
        </div>
        <ng-template #elseBlock>
          &#x20B9;  {{remain_data[i]['paid']}}
        </ng-template>
      </ion-col>
      
      <ion-col size="4">&#x20B9; {{remain_data[i]['remain']}}</ion-col>
    </ion-row>
     
     
    <ion-row>
      <ion-col size="4" class="tohindborder"><strong></strong></ion-col>
      <ion-col size="4"><strong></strong> Total Pay</ion-col>
      <ion-col size="4" style="color: red;"><strong>{{remainpay}}</strong></ion-col>
    </ion-row>




    <!-- full pay form -->
    <form class="example-form" #fullpay="ngForm" (ngSubmit)="fullremain()">
      
      <div class="inputbox2">
        <ion-datetime-button class="dateinput" datetime="datetime" presentation="date"></ion-datetime-button>
      
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime" presentation="date" (ionChange)="onDateChangefull($event)"></ion-datetime>
          </ng-template>
        </ion-modal>
      </div>
      
      <div class="inputbox2">
        <ion-select class="dropbutton" label="Select Transaction " required name="transaction_mode" [(ngModel)]="fullpaydata.transaction_mode" >
       
          <ion-select-option value="Cash" >
            Cash
          </ion-select-option>
        
          <ion-select-option value="Online" >
            Online
          </ion-select-option>
        
          <ion-select-option value="Cheque" >
            Cheque
          </ion-select-option>
        
          <ion-select-option value="Other" >
            Other
          </ion-select-option>
        </ion-select>
       </div>
      
      <button 
        ion-button expand="block" 
        type="submit" 
        [disabled]="!fullpay.form.valid" 
        [ngClass]="{
          'btn-valid': fullpay.form.valid,
          'btn-invalid': !fullpay.form.valid
        }"
        class="button1">
          Submite
        </button>


    </form>
      



  </ion-grid>

    
</div>









<!-- success popup -->
<div class="popup" [style.display]="forpopup">
  <div class="popiocndiv" >
      <ion-icon class="icon-custom" name="checkmark-circle"></ion-icon>
  </div>
  <div class="popcontent">
    <h1 class="poph1" >
      <strong>payment successful</strong>
   </h1>
  </div>
</div>








  



<!-- error popup -->
<div class="popup" [style.display]="wrongpopdiplay">
  <div class="popiocndiv_error" >
      <ion-icon class="icon-custom-wrong" name="alert-circle-outline"></ion-icon>
  
  </div>
  <div class="popcontent-wrong">
    <h1 class="poph1" >
      <strong>Some Think Went Wrong</strong>
    </h1>
  </div>
</div>