<div class="upperdiv" >
  <img alt="back photo" [src]=backphoto class="backimage" [style.height]="divHeight">
  <div class="lowerdiv"  [style.height]="divHeight">
    <div class="menu">
      <ion-icon (click)="backbutton()" name="arrow-back-outline" class="backbutton"></ion-icon>
    </div>
    <div class="namediv">
      <p class="nameh1">
        <strong>Forgot Password</strong>
      </p>
    </div>

    <form  #myForm="ngForm" (ngSubmit)="submitForm()">
      <div class="inputbox1">
        <ion-input name="email" type="email" [(ngModel)]="formData.email" required placeholder="Enter Email" class="ion_input"  (ngModelChange)="onEmailChange()" [style.color]="emaildisplay"> </ion-input>
      </div>
      
      <div class="mainotpagain">
        <div  class="forgotlink">
          <p (click)="backbutton()">Go Back To Login</p>
  
        </div>
        <div  class="forgotlink">
          <p (click)="sendOtp()" [style.display]="otpdisplay" [ngStyle]="otpStyle">
            {{ otpSent ? 'Send Again' : 'Send OTP' }}
            <span *ngIf="otpSent && countdown > 0" class="countdown">
              ({{ countdown }}s)
            </span>
          </p>
        </div>
      </div>
        <div class="inputbox2" *ngIf="otpSent">
          <ion-input name="Otp" [(ngModel)]="formData.Otp" required placeholder="Enter OTP" class="ion_input" maxlength="6" [attr.inputmode]="'numeric'" ></ion-input><br>
        </div>
      
      <button 
      *ngIf="otpSent"
      ion-button
      expand="block" 
      type="submit" 
      [disabled]="!isEmailValid"  
      [ngClass]="{
        'btn-valid': myForm.form.valid,
        'btn-invalid': !myForm.form.valid
      }"
      class="button1" >
        Submite
      </button>
    </form>

  </div>
  <div class="renttext">&#64;Mrent</div>
</div>