<!-- main page -->
<div class="upperdiv" >
  
  
  <img alt="back photo" [src]=backphoto class="backimage" [style.height]="divHeight">
  
  
  <div class="lowerdiv"  [style.height]="divHeight">
    
    <div class="menu">
      <ion-icon (click)="backbutton()" name="arrow-back-outline" class="backbutton"></ion-icon>
    </div>
    
    <div class="namediv">
      <p class="nameh1">
        <strong>Change Password</strong>
      </p>
    </div>
    
    <!-- password change form -->
    <form #myForm="ngForm" (ngSubmit)="submitForm(myForm)">

      <!-- New Password Input -->
      <div class="inputbox1">
        <ion-input 
          name="newPassword" 
          type="password" 
          [(ngModel)]="formData.newPassword" 
          required 
          placeholder="Enter New Password" 
          class="ion_input"
          #newPassword="ngModel"
          [ngClass]="{'invalid': !newPassword.valid && newPassword.touched}">
        </ion-input>
        <!-- error div -->
        <div *ngIf="newPassword.touched" class="error" >
          <p *ngIf="!hasValidLength()">Password must be at least 8 characters long.</p>
          <p *ngIf="!hasCapitalLetter()">Password must contain at least one capital letter.</p>
          <p *ngIf="!hasNumber()">Password must contain at least one number.</p>
          <p *ngIf="!hasSpecialSymbol()">Password must contain at least one special symbol.</p>
        </div>
      </div>
    
      <!-- Confirm Password Input -->
      <div class="inputbox2">
        <ion-input 
          name="confirmPassword" 
          type="password" 
          [(ngModel)]="formData.confirmPassword" 
          required 
          placeholder="Confirm New Password" 
          class="ion_input"
          #confirmPassword="ngModel"
          [ngClass]="{'invalid': !confirmPassword.valid && confirmPassword.touched}">
        </ion-input>
        <!-- error div -->
        <div *ngIf="confirmPassword.touched && !passwordsMatch()" class="error">
          <p>Passwords do not match.</p>
        </div>
      </div>
    
      <!-- Submit Button -->
      <button 
        ion-button
        expand="block" 
        type="submit" 
        [disabled]="!myForm.form.valid || !passwordsMatch() || !isPasswordValid()"  
        [ngClass]="{
          'btn-valid': myForm.form.valid && passwordsMatch() && isPasswordValid(),
          'btn-invalid': !myForm.form.valid || !passwordsMatch() || !isPasswordValid()
        }"
        class="button1">
        Submit
      </button>
      <!-- main error -->
      <div class="mainotpagain">
        <div class="errorcolour">{{error}}</div>
      </div>


    </form>

  </div>
  
  <div class="renttext">&#64;Mrent</div>

</div>