.backimage{
    position: absolute;
    width: 100%;
    height: 100%;
}
.upperdiv{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow:auto;
    top:0px;
}
.lowerdiv{
    width: 100%;
    height: 100%;
    
}
.cercle1{
    position: relative;
    width: 60%;
    height: 25%;
    border-radius: 50%;
    background-color:#3D9BD6;
    left:20% ;
    top:12% ;
    
}
.Clogo{

    width: 70%;
    height: 70%;
    position: absolute;
    top:50%;
    left: 50%;;
    transform: translate(-50%, -50%);
}

.example-form{
    position: relative;
    // top: 5%;
    height: 50%;
    
}
.inputbox1{
    position: relative;
    width: 80%;
    height: 15%;
    border: 3px solid white;
    border-radius: 30px;
    background-color: black;
    margin-left:10% ;
    margin-top:36% ;
    padding-left: 7%;
}
.ion_input{
    width: 90%;
    height: 100%;
    padding-left: 5%;
    color: white;

}


.inputbox2{
    position: relative;
    width: 80%;
    height: 15%;
    border: 3px solid white;
    border-radius: 30px;
    background-color: black;
    margin-left:10% ;
    margin-top:8% ;
    // color: white;
    padding-left: 7%;

}

::placeholder{
    color: white;
  }
// for form button test test
.button1{
    position: relative;
    border-radius: 30px;
    width: 80%;
    height: 15%;
    margin-left:10% ;
    margin-top:15% ;
    font-size: 20px;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}
.button-text {
    flex-grow: 1; 
    text-align: center; 
}
.btn-valid {
    background-color: #3D9BD6;
    color: white;
  }
  
.btn-invalid {
    background-color: #93c3e0;
    color: white;
  }
.forgotlink{
    position:relative;
    float: right;
    color: black;
    margin-right:17% ;
    margin-top:3% ;
    
}








.welcomediv{
    position: absolute;
    top: 7%;
    border-radius: 15px;
    border: 2px solid red;
    color: red;
    z-index: 999;
    padding:15px 25px;
    left: 50%;;
    transform: translate(-50%, -50%);
    animation:bottompopup 8s forwards;

}

@keyframes bottompopup {
    0% { opacity: 0;}
    30% { opacity: 1;}
    60% { opacity: 1;}
    100% { opacity: 0;}
  }

 




  

  

.load {
        width: 12%; /* Take full width of parent */
        aspect-ratio: 1; /* Maintain a 1:1 ratio for a circle */
        background: transparent;
        border: solid 3px black;
        border-radius: 50%;
        border-right-color: transparent;
        border-bottom-color: transparent;
        animation: rotate 1s linear infinite;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute; /* Position the spinner absolutely */
        right: 10px;
    }
    
    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }