
  
    <div class="upperdiv" >
      <img alt="back photo" [src]=backphoto class="backimage" [style.height]="divHeight">
      <div class="lowerdiv"  [style.height]="divHeight">
 
          <div class="cercle1">
            <img alt="centerlogo" [src]=centerlogo class="Clogo">
          </div>


        <form class="example-form" #myForm="ngForm" (ngSubmit)="submitForm()">
          <div class="inputbox1">
            <ion-input name="email" type="email" [(ngModel)]="formData.email" required placeholder="Username" class="ion_input" > </ion-input>
          </div>
          <div class="inputbox2">
            <ion-input name="password" type="password" [(ngModel)]="formData.password" required placeholder="Password" class="ion_input" type="password"></ion-input><br>
          </div>
          <a href="https://www.google.com/" class="forgotlink">forgot password?</a>

          <button ion-button expand="block" type="submit" [disabled]="!myForm.form.valid" class="button1">Login</button>
          </form>


      </div>

     </div>

     <!-- ionic generate page MainHome -->









<!--   
  <p>ionic integrations enable capacitor
    npx cap add android
    ionic build
    npx cap copy
    npx cap sync
    npx cap open android
      </p> -->



      <!-- vinit@vinit-To-be-filled-by-O-E-M:~$ sudo systemctl stop mysql
      vinit@vinit-To-be-filled-by-O-E-M:~$ sudo service mysql stop
      vinit@vinit-To-be-filled-by-O-E-M:~$ sudo lsof -i :3306
      vinit@vinit-To-be-filled-by-O-E-M:~$ sudo /opt/lampp/lampp start
      sudo /opt/lampp/manager-linux-x64.run
       -->