
  
    <div class="upperdiv" >
      <img alt="back photo" [src]=backphoto class="backimage" [style.height]="divHeight">
      <div class="lowerdiv"  [style.height]="divHeight">
 
          <div class="cercle1">
            <img alt="centerlogo" [src]=centerlogo class="Clogo">
          </div>
        <form class="example-form">
 
          <input matInput placeholder="Username" class="inputbox1">
          <input matInput placeholder="Password" class="inputbox2" type="password"><br>
          <a href="https://www.google.com/" class="forgotlink">forgot password?</a>

          <button type="button" (click)="redirectToMianHome()" class="button1">Login</button>
        </form>

      </div>
     </div>

     <!-- ionic generate page MainHome -->









<!--   
  <p>ionic integrations enable capacitor
    npx cap add android
    ionic build
    npx cap copy
    npx cap sync
    npx cap open android
      </p> -->