<div class="upperdiv" >
  <img alt="back photo" [src]=backphoto class="backimage" [style.height]="divHeight">
  <div class="lowerdiv"  [style.height]="divHeight">
    <div class="menu">
      <ion-icon (click)="backbutton()" name="arrow-back-outline" class="backbutton"></ion-icon>
    </div>
    <div class="namediv">
      <p class="nameh1">
        <strong>Your Flats</strong>
      </p>
      <ion-icon name="funnel" class="filtericon"></ion-icon>

    </div>

    
    <div class="filtermenudiv">
      <div class="menuin">
        <p>Available</p>
      </div>
      <div class="menuin">
        Not Available
      </div> 
    </div>
    
    
    <div class="listmiandiv">
      <ion-grid class="tablegrid">
        <ion-row >
          <ion-col size="4"><strong>Address</strong></ion-col>
          <ion-col size="2"><strong>Flat no</strong></ion-col>
          <ion-col size="2"><strong>Rent</strong></ion-col>
          <ion-col size="3"><strong>Available</strong></ion-col>
          <ion-col ><strong></strong></ion-col>
        </ion-row>
        <ion-row *ngFor="let item of addressdata;let i = index">
          <ion-col size="4">{{addressdata[i]["Area"]}}<br> <strong>building- </strong> {{addressdata[i]["Building_name"]}}</ion-col>
          <ion-col size="2">{{addressdata[i]["Floor"]}}/{{addressdata[i]["Flat_no"]}}</ion-col>
          <ion-col size="2">{{addressdata[i]["Rent"]}}</ion-col>
          <ion-col size="3">
            <div *ngIf="addressdata[i]['is_on_rent']== true; else elseBlock">
              YES
            </div>
            <ng-template #elseBlock>
              NO
            </ng-template>
          </ion-col>
          <ion-col ><strong (click)="singlepagebutton(addressdata[i]['id'])">></strong></ion-col>


        </ion-row>
      </ion-grid>
      
    </div>
  </div>
</div>