
<!-- to blur full height -->
<div class="unthouch" [style.display]="hinddiv"></div>



<!-- main page -->
<div class="upperdiv" [style.filter]="blur ? 'blur(5px)' : 'none'">
  
  
  <img alt="back photo" [src]=backphoto class="backimage" [style.height]="divHeight">
  
  
  <div class="lowerdiv"  [style.height]="divHeight">
    
    <div class="menu">
      <ion-icon (click)="backbutton()" name="arrow-back-outline" class="backbutton"></ion-icon>
    </div>
    
    <div class="namediv">
      <p class="nameh1">
        <strong>Rents</strong>
      </p>
    
      <div *ngIf="error; else nomenu"></div>
      
      <ng-template #nomenu>
        <ion-item class="select-container">
          <ion-select name="filter" (ionChange)="onSelectionChange($event)" placeholder="Select Your Month" [interfaceOptions]="customActionSheetOptions">
            <ng-container *ngFor="let date of filterdata">
              <ion-select-option [value]="date.dateformonth">
                {{ date.dateformonth }}
              </ion-select-option>
            </ng-container>
          </ion-select>
        </ion-item>
      </ng-template>
      </div>


      <div class="listmiandiv">

        <p class="mainmonth"><strong>{{currentmonthvar}}</strong></p>
        
        <ion-grid class="tablegrid">

          <ion-row class="tablehead">
          
            <ion-col size="3"><strong>Address</strong></ion-col>
          
            <ion-col size="2"><strong>renter</strong></ion-col>
          
            <ion-col size="1.5"><strong>Rent</strong></ion-col>
          
            <ion-col size="1.5"><strong>paid</strong></ion-col>
          
            <ion-col size="2"><strong>date</strong></ion-col>
          
            <ion-col size="2"><strong>pay</strong></ion-col>
          
          </ion-row>


          <!-- if there is no data -->
          <div *ngIf="noData">
            <p class="nodatatext">No data available.</p>
          </div>
    

          <!-- Display loading message -->
          <div *ngIf="loading">
            <p class="nodatatext">Loading...</p>
          </div>
    

          <!-- Display error message -->
          <div *ngIf="error">
            <p class="nodatatext">{{error}}</p>
          </div>


          <!-- if there is data -->
          <ion-row *ngFor="let item of rentdata;let i = index">
            
            <ng-container *ngIf="rentdata[i][5]?.paid?.length > 0; else elseBlock">
            
              <ion-col size="3">
                {{rentdata[i][4]?.addressdata[0].Area}}<br>  
                <strong>
                  building-
                </strong>
                {{rentdata[i][4]?.addressdata[0].Building_name}}<br> 
                <strong>
                  flat-
                </strong>
                {{rentdata[i][4]?.addressdata[0].Flat_no}}
                /
                {{rentdata[i][4]?.addressdata[0].Floor}}
              </ion-col>
            
              <ion-col size="2">{{ rentdata[i][3]?.renter_name }}</ion-col>
            
              <ion-col size="1.5">{{ rentdata[i][2]?.rent }}</ion-col>
            
              <ion-col size="1.5">{{ rentdata[i][5]?.paid[0]["paid"] }}</ion-col>
            
              <ion-col size="2">{{ rentdata[i][6]?.date_of_pay[0]["date_of_pay"] }}</ion-col>
            
              <ion-col size="2">-</ion-col>
            
            </ng-container>
          
            <!-- Content to display if 'paid' is empty or not present -->
            <ng-template #elseBlock>
              
              <ion-col size="3">
                {{rentdata[i][4]?.addressdata[0].Area}}<br> 
                <strong>
                  building-
                </strong>
                {{rentdata[i][4]?.addressdata[0].Building_name}}<br> 
                <strong>
                  flat-
                </strong>
                {{rentdata[i][4]?.addressdata[0].Flat_no}}
                /
                {{rentdata[i][4]?.addressdata[0].Floor}}
              </ion-col>
              
              <ion-col size="2" >{{ rentdata[i][3]?.renter_name }}</ion-col>
              
              <ion-col size="1.5">{{ rentdata[i][2]?.rent }}</ion-col>
              
              <ion-col size="1.5">-</ion-col>
              
              <ion-col size="2" >-</ion-col>
              
              <ion-col size="2">
                <div class="paybutton"> 
                  <p class="center-text" (click)="formpopup(rentdata[i])">
                    <strong>pay</strong>
                  <p>

                </div>
              </ion-col>
            
            </ng-template>
            
          </ion-row>         
          
        </ion-grid>
        
      </div>
  </div>
</div>








<!-- pay form popup -->
<div class="mainpayform" [style.display]="popdiplay" [style.filter]="blur1rent ? 'blur(5px)' : 'none'">
 
  <div class="closebutton">
    <ion-icon name="close" class="closeicon" (click)="closepopup()"></ion-icon>
  </div>
 
  <!-- selected pay data -->
  <div class="payinfidiv">

    <p class="paytext"><strong>PAY</strong></p>
    
    <div style="text-align: center;font-size: 20px;">
      <p><strong>Address </strong><br>
        {{popupdata[4]?.addressdata[0].Building_name}}, 
        {{popupdata[4]?.addressdata[0].Floor}}/
        {{popupdata[4]?.addressdata[0].Flat_no}},
        {{popupdata[4]?.addressdata[0].Area}}</p>
      <p><strong>Rent </strong><br>{{popupdata[2]?.rent}}</p>
      <p><strong>Renter </strong><br>{{popupdata[3]?.renter_name}}</p>

    </div>

  </div>

 
  <!-- pay form -->
  <form class="example-form" #myForm="ngForm" (ngSubmit)="addpay()">
    
    
    <div class="inputbox1">
      <ion-input name="paid" [(ngModel)]="paydata.paid" type="number" required placeholder="Enter Rent Amount" class="ion_input" > </ion-input>
    </div>


    <div class="inputbox2">
      <ion-datetime-button class="dateinput" datetime="datetime" presentation="date"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime" presentation="date" (ionChange)="onDateChange($event)"></ion-datetime>
        </ng-template>
      </ion-modal>
    </div>



    <div class="inputbox2">

        <ion-select class="dropbutton"  required name="transaction_mode" [(ngModel)]="paydata.transaction_mode" label="Select Your Transaction">
          <ion-select-option value="Cash" >
            Cash
          </ion-select-option>
          <ion-select-option value="Online" >
            Online
          </ion-select-option>
          <ion-select-option value="Cheque" >
            Cheque
          </ion-select-option>
          <ion-select-option value="Other" >
            Other
          </ion-select-option>
        </ion-select>

    </div>

    <button 
    ion-button expand="block" 
    type="submit" 
    [disabled]="!myForm.form.valid" 
    [ngClass]="{
      'btn-valid': myForm.form.valid,
      'btn-invalid': !myForm.form.valid
    }"
    class="button1">
      Submite
    </button>


  </form>
  
</div>









<!-- success popup -->
<div class="popup" [style.display]="forpopup">
  <div class="popiocndiv" >
      <ion-icon class="icon-custom" name="checkmark-circle"></ion-icon>
  </div>
  <div class="popcontent">
    <h1 class="poph1" >
      <strong>payment successful</strong>
    </h1>
  </div>
</div>







<!-- error popup -->
<div class="popup" [style.display]="wrongpopdiplay">
  <div class="popiocndiv_error" >
      <ion-icon class="icon-custom-wrong" name="alert-circle-outline"></ion-icon>
  </div>
  <div class="popcontent-wrong">
    <h1 class="poph1" >
      <strong>Some Think Went Wrong</strong>
    </h1>
  </div>
</div>