.backimage{
    position: absolute;
    width: 100%;
    height: 100%;
}
.upperdiv{
    // filter: blur(8px);
    position: absolute;
    width: 100%;
    height: 100%;
    overflow:auto;
    top:0px;
}
.lowerdiv{
    width: 100%;
    height: 100%;
    
}
.menu{
    position: relative;
    width: 100%;
    height: 8%;
    // border: 2px solid black;
}
.backbutton{
    width: 10%;
    height: 100%;
    margin-top: 4%;
    margin-left: 4%;
}
.namediv{
    position: relative;
    width: 100%;
    height: 10%;
    // border: 2px solid red;
}
.nameh1{
    margin-left: 4%;
    font-size: 30px;
    display: inline-block;
}
.select-container {
    width: 40%;
    float: right;
    margin-top: 4%;
    padding-right: 4%;
  }
  .listmiandiv{
    position: relative;
    width: 100%;
    height: 75%;
    border-radius: 60px;
    // border: 2px solid black;
    background-color: #3D9BD6;

}

.tablegrid{ 
    position: relative;
    width: 100%;
    height: 80%;
    // border: 2px solid red;
    top:3%;
    overflow-y: auto;
    
}
ion-col{
    text-align: center;
    border-bottom: 2px solid black;
}
.tablehead{
    position: sticky;
    top: 0;
    z-index: 10;
    background: #3D9BD6; 
}
.mainmonth{
    position: relative;
    text-align: center;
    top:3%;
    font-size: 23px;
    // border: 2px solid red;
}